
:local(.navbar) {
  background:green !important;
  color:white !important;
}
.topic-container {
  
  text-align: center;
  margin-top: 50px;
  color: rgb(0,128,0);
}
.card-group {
  margin-top: 10px;
}
.card {
  margin : 10px
}